{% extends "base.html" %}

{% block content%} 

        <h1>Rock -- Paper -- Scissor</h1>
        <section class="player-1">
          <form action="/play" method="post">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name"> <br>
            <p>Select your choice:</p>
            <div>
              <input type="radio" value="rock" checked name="choice">
              <label for="rock">Rock</label>
            </div>
            <div>
              <input type="radio" value="paper" name="choice">
              <label for="paper">Paper</label>
            </div>
            <div>
              <input type="radio" value="scissor" name="choice">
              <label for="scissor">Scissor</label>
            </div> <br>
            <input type="submit" value="GO!!">
          </form>
        </section>
    
{% endblock%}


